@media screen 
and (max-width: 600px) {

	body {
		background: url('../images/1.jpeg') no-repeat fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}

	.tagline {
		font-size: 1em;
		margin-top: 5%;
	}

	li a {
	  display: block;
	}
}


/********************************************/
/********************************************/
/********************************************/
/********************************************/

@media screen 
and (min-width: 601px) 
and (max-width: 1100px) {

	body {
		height: 1024px;
	}

	.tagline {
		font-size: 1.2em;
		margin-top: 2%;
	}

	li a {
	  display: block;
	}

	#nav {
		font-size: 1em;
	}
}


/*************************************/
/*************************************/

@media screen 
and (max-width: 460px) {

	body {
		background: url('../images/1.jpeg') no-repeat fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}

	.welcome {
		font-size: 3em;
	}

	.tagline {
		color: #b5b5b5;
	}
}